
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@*Start Body*@
<div>
    <center>
        <h1 class="mt-3 p-5 bg-dark text-primary">Welcome to Login Page</h1>
    </center>
</div>
@*End Body*@

