@{
    ViewBag.title = "Privacy";
}

    @*Start Body*@
    <div>
        <center>
            <h1 class="mt-3 p-5 bg-info">Welcome to Privacy Page</h1>
        </center>
    </div>
    @*End Body*@

